*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	color: #20cc8a;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}
main{
	overflow: hidden;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover,
a:focus {
	color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}


/* Buttons */

.btn {
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: pointer;
	pointer-events: auto;
	color: #54ff54;
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.icon--prev, .icon--next{
	transition: all .3s;
}

.icon--prev:hover{
	padding-right: 25px;
}

.icon--next:hover{
	padding-left: 25px;
}

.btn--arrow {
	font-size: 1.5em;
	display: block;
}

.btn--arrow:nth-child(2) {
	margin: 0 0 0 0.5em;
}

.btn--arrow .icon {
	height: 0.5em;
}

/* Slideshow nav (not part of plugin so we put the styles here) */

.slideshow__nav {
	position: absolute;
	pointer-events: none;
}

.no-js .slideshow__nav {
	display: none;
}

.slideshow__nav--arrows {
	font-size: 4em;
	right: 1.1em;
	bottom: 1.45em;
}